*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    padding: 1em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    text-decoration: underline;
}
img{
    width: 40%;
    height: auto; 
    border-radius: 1em 1em;
    box-shadow: .3em .4em 2em;
    margin-bottom: 1em;
    
}
figure{
    text-align: center;
}
figcaption{
    margin: 0 auto;
    width: 40%;
    background-color: black;
    color: chartreuse;
    padding-bottom: 1em;
    margin-bottom: 3em;
    border-radius: 1em 1em;
}
a{
    color: white;

}

